#about-us{
    width: 100%;
    height: 75vh;
  
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}
.content .image-side{
    width: 35%;
    height: 100%;
    position: relative;
    background-color: rgb(80, 142, 183);
}
.content .image-side .image{
    position: absolute;
    background-image: url(../images/f1.jpg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    left: 50%;
    top:20%
}
.history{
    width: 75%;
    height: 100%;
    padding:5% 5% 5% 20%;
}
.infor{
    width: 100%;
    height: 100%;
    
}
.infor h4{
    color: rgb(80, 142, 183);
    font-family: "Montserrat Bold";
}
.infor p{
    color: rgb(71, 71, 71);
    font-family: "Montserrat";
}

@media (max-width:942px) {
    #about-us{
        height: fit-content;
    }
    .content{
        display: flex ;
        flex-direction: column;
    }

    .content .image-side{
        width: 50%;
        height: 500px;
    }
}
@media (max-width:720px) {
    .content .image-side{
        width: 100%;
    }
    .content .image-side .image{
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }
}
@media (max-width:480px) {
    .history{
        width: 100%;
        padding:5% 5% 5% 5%;
    }   
}