@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: "Montserrat ExtraBold";
    src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
*{
    
    padding: 0;
    margin: 0;
}

.light-blue{
    color: rgb(31, 58, 153);
}
.red{
    color: rgb(231, 38, 38);
}
body{
    background-color: rgb(247, 245, 245)
}
#hero{
    padding: 0;
    width: 100%;
    height: 125vh;
    background: url("../images/f.jpg") ;
    background-position: center;
    background-size: cover;
    position: relative;

}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  
  .header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  }
  
  .header .logo {
    line-height: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo span {
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    letter-spacing: 1px;
    color: #012970;
    margin-top: 3px;
  }
  
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    margin-left: 10%;
    padding: 0;
}

.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}

.navbar li {
position: relative;
}

.navbar a, .navbar a:focus {
display: flex;
font-size: 16px;
font-family: Montserrat;
font-weight: 700;
color: rgb(110, 110, 110);
white-space: nowrap;
transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: red;
    border-bottom: 2.5px solid rgb(31, 58, 153);
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
color: #012970;
font-size: 28px;
cursor: pointer;
display: none;
line-height: 0;
transition: 0.5s;
float: right;
}

.mobile-nav-toggle.bi-x {
color: #fff;
}

@media (max-width: 991px) {
.mobile-nav-toggle {
    display: block;
}
.navbar ul {
    display: none;
}
}

.navbar-mobile {
position: fixed;
overflow: hidden;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: rgba(1, 22, 61, 0.9);
transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
position: absolute;
top: 15px;
right: 15px;
}

.navbar-mobile ul {
display: block;
position: absolute;
top: 55px;
right: 15px;
bottom: 15px;
left: 15px;
padding: 10px 0;
border-radius: 10px;
background-color: #fff;
overflow-y: auto;
transition: 0.3s;
}

.navbar-mobile a {
padding: 10px 20px;
font-size: 15px;
font-family: Montserrat;
color: #012970;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
color: #4154f1;
}

.navbar-mobile .getstarted {
margin: 15px;
}

.navbar-mobile .dropdown ul {
position: static;
display: none;
margin: 10px 20px;
padding: 10px 0;
z-index: 99;
opacity: 1;
visibility: visible;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
min-width: 200px;
}

.navbar-mobile .dropdown ul a {
padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
color: #4154f1;
}

.navbar-mobile .dropdown > .dropdown-active {
display: block;
}
/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/
.hero-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    padding: 8%;
}
.hero-content .intro h2{
    font-size: 3rem;
    font-family: "Montserrat ExtraBold";
    font-weight:800;
    padding-bottom: 1.5%;
    color: #03173a;
  
}
.hero-content .intro-body p {
    color: rgb(80, 80, 80);
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0;
    margin-bottom: 0;
    font-family: Montserrat;
}
.body-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.btn-quote,
.btn-learn{
    font-family: Montserrat;
    width: 150px;
    border-radius: 50px;
}
.btn-quote{
    background-color: rgb(31, 58, 153);
    color: #fff;
    transition: all 0.5s;
}
.btn-quote:hover{
    background-color: rgb(24, 71, 240);
    color: white;
   
}
.btn-learn{
    border: 0.15rem solid rgb(231, 38, 38);
    background: transparent;
    color: rgb(231, 38, 38);
    transition: all 0.5s;
    margin-left: 2.5%;
}
.btn-learn:hover{
    background-color: rgb(231, 38, 38);
    color: white;
   
}
@media (max-width:720px) {
    .hero-content .intro h2{
      font-size: 2rem;
    }
}
@media (max-width:964px) {
    #show-case{
        margin-top: 440px;
    }
}
@media (max-width:360px) {
    .body-btns{
        display: flex;
        flex-direction: column;
    }
    .btn-learn{
        margin: 0;
        margin-top: 5%;
    }
}
@media (max-width:320px) {
    #show-case{
        margin-top: 480px;
    }
}
/*
*  Cards
*/
.intro-cards{
    position: absolute;
    top: 80%;
    padding-inline: 2.5%;
    width: 100%;
    justify-content: center;
    
}
.intro-cards .box {
    
/* box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08); */
    text-align: left;
    height: 100%;
    background-color:rgb(31, 58, 153);
    color: white;
    padding:20px;
}

.intro-cards .box span {
    font-family: Montserrat;
    transition: 0.3s;
    font-size: 35px;
}

.intro-cards .box h3 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}

.intro-cards .box:hover {
    background-color: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    color: #03173a;
}
.intro-cards .box:hover > span{
    color: rgb(231, 38, 38);
}

/*--------------------------------------------------------------
            END INTRO
--------------------------------------------------------------*/


#show-case{
height: fit-content;

}
.content{
    margin-top: 10%;
    width: 100%;
    height: 100%;
}
.content .section-header{
    width: 100%;
    height: 50%;
    text-align: center;
}
.content .section-header h2{
    font-family: "Montserrat Bold";
    font-size: 3rem;
    padding-bottom: 1%;
    color: #03173a;
}
.content .section-header p{ 
    margin-bottom: 0;
    color: rgb(97, 96, 96);
}
.case-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.case-card{
    margin-left: 5%;
}
.case-card .counters{
    display: flex;
    flex-direction: row;
}
.case-card .counters span,
.case-card .counters  p{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1%;    
}

.case-card .bi,
.case-card .ri{
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 1%;
}
.bottom-liner{
    color: rgb(109, 107, 107);
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0;
   
}
/*
* SERVICES
*/

.service-card{
    width: 250px;
    height: 450px;
    background-color: rgb(31, 58, 153);
    color: #fff;
    margin-bottom: 5%;
}
.service-card .top-card{
    height: 180px;
    padding: 8%;
}
.service-card .top-card h5{
    font-family: "Montserrat Bold";
}
.service-card .top-card p{
    margin-top: 1.5%;
    font-family: "Montserrat";
}


.service-card .middle-card{
    width: 100%;
    height: fit-content;
}
.service-card .bottom-card{
    width: 100%;
    height: 109.61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.service-card .bottom-card h5{
    padding: 0;
    margin: 0;
    font-family: "Montserrat Bold";

}
.service-card .bottom-card span{
    padding: 0;
    margin: 0;
    color: rgb(231, 38, 38);
    font-size: 30px;
    font-weight: 100;   
}
.read-more{
    margin-top: 5%;
    width: 100%;
    height: 20%;
    text-align: center;
}
.read-more h2,
.read-more span{
    padding: 0;
    margin: 0;
}

.read-more h2{
    font-family: "Montserrat Bold";
    font-size: 2rem;
}
.read-more span{
    font-weight: 100;
    font-size: 30px;
}
@media (max-width:760px) {
    .service-card{
        width: 100%;
        height: 625px;
        margin-bottom: 60px;
    }
}
@media (max-width:517px) {
    .service-card{
        height: 600px;
    }
}

@media (max-width:390px) {
    .service-card{
        height: 500px;
    }
}
@media (max-width:320px) {
    .service-card{
        height: 450px;
    }
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
    background: #f2f2f2;
    padding: 15px 0;
    text-align: center;
  }
  
  .clients img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
  }
  
  .clients img:hover {
    filter: none;
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .clients img {
      width: 40%;
    }
  }

/*
* NEWS LETTER
*/
#newsletter{
    width: 100%;
    height: 25vh;
}
.top-bar{
    width: 100%;
    height: 70%;
    position: relative;
    
}
.newsletter-form {
    width: 70%;
    background-color: #012970;
    padding: 2.5%;
    display: inline-flex;
}
.newsletter-form .form-header{
    width: 45%;
}
.newsletter-form .form-header h4{
    font-family: "Montserrat Bold";
    color: #fff;
    text-align: left;
}
.newsletter-form form{
    width: 55%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
}
.newsletter-form .form-row{
    display: inline-flex;
    width: 80%;
    background-color: #fff;
    border: 1.5px solid #fff;
    border-radius:5px ;
    padding: 0;
}
.newsletter-form .form-row input{
    width: 70%;
    border: none;
    outline: none;
    padding: 2.5%;
}
.newsletter-form .form-row button{
  background-color:rgb(231, 38, 38);
  width: 30%;
  padding: 2.5%;
  border: none;
  color: #fff;
  outline: none;
}
.bottom-bar{
    width: 100%;
    height: 30%;
    background-color: #03173a;
}
@media (max-width:1200px) {
    .top-bar{
        width: 100%;
    }
    .newsletter-form {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .top-bar{
        width: 100%;
    }
    .bottom-bar{
        width: 100%;
        display: none;
    }
    .newsletter-form .form-header{
        text-align: center;
        float: none;
        width: 100%; 
    }
    .newsletter-form .form-header h4{
        text-align: center;
        float: none;
        
    }
    .newsletter-form .form-row{
        width: 100%;
    }
    .newsletter-form form{
        width: 100%;
        margin-top: 2.5%;
    }
}
/*
* GET IN TOUCH
*/
.cards{
    display: inline-flex;
    padding: 5%;
    width: 100%;
    height: fit-content;
    position: relative;
}
.big-card{
    position: absolute;
    height: 350px;
    width: 33.33%;
    background-color: rgb(31, 58, 153);;
    right: 33.33%;
    bottom: 8%;
    text-align: center;
    padding: 5%;
    color: white;
}
.small-card{
    padding: 2.5%;
    height: 300px;
    width: 33.33%;
    text-align: center;
    background-color: white;
    font-family: "Montserrat";
}
.small-card:first-child{
    margin-right: 37%;
}
.small-card span{
    font-size: 3rem;
    color: rgb(31, 58, 153);
    font-weight: 700;
}
.small-card h5{
    font-size: 0.8rem;
    font-weight: 200;
}
.small-card h6{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "Montserrat Bold";
}
.big-card span{
    font-size: 3rem;
    font-weight: 700;
}
.big-card h5{
    font-size: 1rem;
    font-weight: 300;
}
.big-card h6{
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "Montserrat Bold";
}
@media (max-width:1080px) {
    .cards{
        display: flex;
        flex-direction: column;
        position: unset;
        
    }
    .big-card{
        position: unset;
        width: 100%;
        margin-bottom: 5%;
        height: fit-content;
    }
    .small-card{
        margin-bottom: 5%;
        width: 100%;
        height: fit-content;
    }
    .small-card:first-child{
        margin-right: 0;
    }
}
/*
* Contact Us Bar
*/
#contact{
    margin-top: 2.5%;
    height: 15vh;
    width: 100%;
    background-color: white;
    padding:1% 12% 1% 12%;
}
.contact-content{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.contact-content .heading {
    font-family: "Montserrat";
}
.contact-content .heading h3{
    font-family: "Montserrat Bold";
    color: #03173a;
}
.contact-content .heading p{
    color: rgb(80, 80, 80);
}
.contact-content .button-container .btn-danger{
    background-color: rgb(231, 38, 38);
}
@media (max-width:720px) {
    #contact{
        height: fit-content;
    }
    .contact-content{
        display: flex;
        flex-direction: column;

    }
}
/*
*   FOOTER 
*/
#footer{
    height: fit-content;
    width: 100%;
    background-color: #012970;
    padding: 3% 12% 5% 12%;
    color: white;
    font-family: "Montserrat";
}
.footer-row{
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
}

.footer-column h3{
    font-family: "Montserrat Bold";
    font-size: 1.3rem;
    font-weight: 300;

}
.footer-column h4 a{
    font-size: 1rem; 
    font-weight: 300;
    text-decoration: none;
    color: white;
    justify-content: space-between;
}
.get-in-touch{
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 5%;
}
.get-in-touch span{
    font-size: 1rem ;
    font-weight: 800;
    color: #6472f0;
}
.get-in-touch h6{
    font-size: 1rem;
}

#iwad-branding{
    height: 10vh;
    width: 100%;
    padding: 1% 12% 1% 12%;
    display: inline-flex;
    justify-content: space-between;
}
.heading p{
    color: rgb(97, 96, 96);
}
.bi-facebook{
    color: rgb(24, 71, 240);
}
.bi-instagram{
    color: rgb(243, 12, 120);
}
.bi-twitter{
    color: #3b4be2;
}
.bi-youtube{
    color: red;
}
@media (max-width:980px) {
    .footer-row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer-column h3{
        text-align: center;
        border-top:1px solid white ;
        border-bottom:1px solid white ;
        padding: 2% 0 2% 0;
    }
   
}
@media (max-width:720px) {
    #iwad-branding{
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }
}